<div class="card recipe-card">
  <img src="{{image}}" class="card-img-top" alt="food" />
  <div class="card-body">
    <h5 class="card-title">{{label}}</h5>
    <p class="card-text">

     {{!--  <em>Cuisine Type:{{cuisineType}}</em> --}}
    </p>
    <a href="/recipes-details/{{_id}}">View Details</a>
    <div class="button-row">
      <a href="/profile/{{_id}}/edit"><button>Edit</button></a>

      <form action="/profile/{{_id}}/remove-created" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>