<section id = "Created-recipes">
<div class="listing-card">

  <div class="card-info">
    <img src="{{this.user.image}}" alt="food" />
    <h3>{{this.user.label}}</h3>
    <p><em>Cuisine Type:</em>
      {{#each this.user.cuisineType}}
        {{this}}
      {{/each}}
    </p>

    <p><em>Number of ingredients:</em> {{this.user.ingredients.length}}</p>
    <a href="/profile/create">Create your recipe</a>
  </div>
</div>
</section>


<section id = "Favorite-recipes">
<div class="listing-card">
  
</section>






<H1>profile: userinfo + favourite recipes + mycreations</H1>
<h1>{{user.email}}</h1>

<a href="/profile/create" class="btn btn-primary"><button type="submit">Create
    recipe</button></a>
 
{{#each user.createdRecipes}}
  <p>{{label}}</p>
  <img src="{{user.image}}" alt="foodImage" />
  <p>{{user.healthLabels}}</p>
  <p><em>Number of ingredients:</em>{{user.ingredientLines.length}}</p>
  <p>{{user.cuisineType}}</p>
  <p>{{preparation}}</p>
  
   {{!-- add the form to handle the POST request to remove a specific book  --}}
      <a href="/profile/{{_id}}/edit"><button>Edit</button></a>
  
    <form action="/profile/{{_id}}/remove-created" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
{{/each}}
 
{{#each user.favoriteRecipes}}
  <p>{{name}}</p>
  <img src="{{imgUrl}}" alt="foodImage" />
  <a href="/recipes-list/{{uri}}">{{name}}</a>
   
  
   <form action="/profile/{{_id}}/remove-favorite" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
{{/each}}