

<h1>Edit the Recipe: {{recipe.label}}</h1>
 
<form action="/profile/{{recipe._id}}/edit" method="post">
  <label> Name:
    <input type="text" name="label" value="{{recipe.label}}" />
  </label>
 
  <label> Ingredients
    <input type="text" name="ingredientLines" value="{{recipe.ingredientLines}}" />
  </label>
 
  <label> Health Labels
    <input type="text" name="healthLabels" value="{{recipe.healthLabels}}" /> 
  </label>

  
   <label> Preparation
    <textarea name="preparation" cols="30" rows="4">{{recipe.preparation}}</textarea>
  </label>
 
  <label> Cuisine Type
    <input type="text" name="cuisineType" value="{{recipe.cuisineType}}" />
  </label>

  
  <button type="submit">Save changes</button>
</form>

