<H1>profile: userinfo + favourite recipes + mycreations</H1>
<h1>{{user.email}}</h1>

<a href="/profile/create" class="btn btn-primary"><button type="submit">Create
    recipe</button></a>

{{#each user.createdRecipes}}
  <p>{{label}}</p>
  <img src="{{image}}" alt="foodImage" />
  <p>{{healthLabels}}</p>
  <p>{{ingredientLines}}</p>
  <p>{{cuisineType}}</p>
  <p>{{preparation}}</p>
{{/each}}

{{#each user.favoriteRecipes}}
  <p>{{name}}</p>
  <img src="{{imgUrl}}" alt="foodImage" />
  <a href="/recipes-list/{{uri}}">{{name}}</a>
{{/each}}