<H1>profile: userinfo + favourite recipes + mycreations</H1>

<a href="/profile/create" class="btn btn-primary"><button type="submit">Create recipe</button></a> 


<p>{{recipe.label}}</p>
<img src="{{recipe.image}}" alt="foodImage">
<p>{{recipe.healthLabels}}</p>
<p>{{recipe.healthLabels}}</p>
<p>{{recipe.ingredientLines}}</p>
<p>{{recipe.preparation}}</p>


