<h1>Recipes details</h1>

<p>{{label}}</p>
<img src="{{image}}" alt="foodImage">
<p>{{cuisineType}}</p>
<p>{{source}}</p>
<p>{{url}}</p>
<p>{{healthLabels}}</p>
<p>{{ingredientLines}}</p>
<p>{{preparation}}</p>

<p>{{uri}}</p>


 